body{
  background-color: black;
}

img{
  margin: auto;
}

ion-card{
  margin-top: -300px;
}

ion-checkbox{
  margin-top: 5px;
  margin-left: 5px;
  
  
}

ion-label{
  margin-left: 5px;
  color: black;
 
}

