
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
  
</ion-header>


<body>
  <img src="/assets/Design sem nome (1).png">
  <ion-card>
    <ion-item class="email">
      <ion-label>Email</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item class="senha">
      <ion-label>Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-checkbox checked="true"></ion-checkbox>
    <ion-label>SALVAR DADOS</ion-label>

    <ion-button expand="block" color="secondary">ENTRAR</ion-button>

  </ion-card>
</body>
