 ion-button{
    float: right;
}
.cd1 ion-button{
    margin-right: 5px;
    margin-bottom: 8px;
}

.cd2 ion-button{
    margin-right: 5px;
    margin-bottom: 8px;
}

.cd3 ion-button{
    margin-right: 5px;
    margin-bottom: 8px;
}

.cd1 ion-icon{
    margin-left: 10px;
}

.cd2 ion-icon{
    margin-left: 10px;
}

.cd3 ion-icon{
    margin-left: 10px;
}