<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>Terror</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cd1">   
    <ion-img src="/assets/a-oitava-noite.jpg"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
  <ion-item class="reso">
      <ion-badge item-end>HD</ion-badge>
    </ion-item>
  <ion-button color="primary">BAIXAR <ion-icon name="cloud-download-outline"></ion-icon></ion-button>
  </ion-card>
  
  <ion-card class="cd2">   
  <ion-img src="/assets/download (1).jpg"></ion-img>
  <ion-card-header>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
  Keep close to Nature's heart... and break clear away, once in awhile,
  and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
  <ion-item class="reso">
  <ion-badge item-end>HD</ion-badge>
  </ion-item>
  <ion-button color="primary">BAIXAR <ion-icon name="cloud-download-outline"></ion-icon></ion-button>
  </ion-card>
  <ion-card class="cd3">   
  <ion-img src="/assets/resident-evil-bem-vindo-a-raccoon-city.jpg"></ion-img>
  <ion-card-header>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
  Keep close to Nature's heart... and break clear away, once in awhile,
  and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
  <ion-item class="reso">
  <ion-badge item-end>HD</ion-badge>
  </ion-item>
  <ion-button color="primary">BAIXAR <ion-icon name="cloud-download-outline"></ion-icon></ion-button>
  </ion-card>
</ion-content>
