<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
    <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<body>
 
  <img src="/assets/Design sem nome.png">

  <ion-card class="formCadastro">
      <ion-item>
      <ion-label>Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nome do usuário</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Nascimento</ion-label>
      <input class="date" type="date" placeholder="dd/mm/aaaa"  min="1992-01-01" max="2007-01-01">
    </ion-item>
  </ion-card><!--formCadastro-->
</body>



