ion-card{
    margin-top: -280px;
}

.date{
    width: auto;
    height: 50px;
    border: 0;
    color: black;
    padding: 8px 8px;
}


img{
    margin: auto;
}

ion-toolbar{
    color: white;
}

.titledate{
    label{
        color: black;
        margin-left: px;
    }
}