
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>IONICFlix<ion-icon name="logo-ionic"></ion-icon></ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="contentConteudo" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  


  <ion-card class="cards">
  
    <swiper [autoplay]="true" [keyboard]="true" [pagination]="false" [scrollbar]="false" [zoom]="false">
      <ng-template swiperSlide><img src="/assets/7485239.jpg"></ng-template>
      <ng-template swiperSlide><img src="/assets/hm.jpg"></ng-template>
      <ng-template swiperSlide><img src="/assets/Eternos-Marvel.jpg"></ng-template>
      <ng-template swiperSlide><img src="/assets/black-comedia-new-orange-wallpaper-preview.jpg"></ng-template>
    </swiper>
 
  <h1>MAIS POPULARES!</h1>
</ion-card><!--cards-->

  <ion-card class="generos">
    <ion-list>
    <ion-item [routerLink]="['/client']" routerdirection="forward">
      <ion-icon name="play-outline"></ion-icon>
      <ion-label>AÇÃO</ion-label>
    </ion-item>
    <ion-item  [routerLink]="['/gastos']" routerdirection="forward">
      <ion-icon name="play-outline"></ion-icon>
      <ion-label>COMEDIA</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/romance']" routerdirection="forward">
      <ion-icon name="play-outline"></ion-icon>
      <ion-label>ROMANCE</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/terror']">
      <ion-icon name="play-outline"></ion-icon>
      <ion-label>TERROR</ion-label>
    </ion-item>
    
  </ion-list>
</ion-card><!--generos-->

<div class="divFooter">
    <div class="cdf">
      <ion-item>
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>NOS AVALIE</ion-label>
      </ion-item>
    </div>
   
<div class="cdf1">
  <ion-item >
    <ion-label>COMPARTILHE COM UM AMIGO</ion-label>
    <ion-icon name="body-outline"></ion-icon>
  </ion-item>
</div>

<div class="cdf2">
  <ion-item >
    <ion-icon name="chatbubbles-outline"></ion-icon>
    <ion-label>SUPORTE</ion-label>
  </ion-item>
</div>

  </div><!--divFooter-->
   
  
</ion-content><!--contentConteudo-->

<!-- Footer without a border -->
<footer>
  <ion-item href="https://api.whatsapp.com/send?phone=5562999864177">
  <ion-icon name="logo-instagram"></ion-icon>
    <ion-label>vitor-monel.12</ion-label>
  </ion-item>
  <ion-item>
  <ion-icon name="logo-github"></ion-icon>
  <ion-label>Vitor-Manoel565</ion-label>
</ion-item>
  
</footer>